#navbar{
  overflow:hidden;
  background-color: grey;
  height: 70px;
  top: 0;
  position: fixed;
  width: 100%;
}
#welcome_section {
background-color: white;
height: 100vh;
margin-top: 70px;
}
#projects {
  background-color: white;
  }
@media (min-width: 800px) {
  #projects {
    background-color: lightgreen;
    }
  #welcome_section {
    background-color: skyblue;
  }
