#navbar{
  overflow:hidden;
  background-color: grey;
  height: 70px;
  top: 0;
  position: fixed;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

#welcome_section {
background-color: white;
height: 100vh;
margin-top: 70px;
text-align:center;
padding-top:100px;
}
#projects {
  background-color: white;
  height: 600px;
  text-align:center;
  }
@media (min-width: 800px) {
  #projects {
    background-color: lightgreen;
    }
  #welcome_section {
    background-color: skyblue;
  }
